﻿<h1 class="text-center">Sorted boarding cards</h1>

<div *ngIf="cards" class="container">
  <div class="row">
    <div class="col-md-12 py-3">
      <ngb-carousel style="background-color: #343a40; border-radius:50px 50px">
        <ng-template ngbSlide *ngFor="let card of cards">
          <div class="p-5">
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="card text-center mx-5">
                  <div class="card-header">
                    {{card.id}}
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{card.description}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
