﻿<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Logo</a>
  <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container">
    <router-outlet></router-outlet>
</div>

<div class="container">
  <footer class="position-fixed w-100" style="left: 0; bottom: 0; background-color: white; height: 40px;">
    <div class="border-top w-100 text-center">
      <p class="my-2">© 2022 Company, Inc. All rights reserved.</p>
    </div>
  </footer>
</div>
